.cuerpo{
    margin: 20px;


    .header-informacion{
        @include cabecera;
    }

    .card{
        @include tarjetas;
    }

    .informacion{
        padding-top: 20px;
    }

    .informacion__item{
        display: block;
        margin-bottom: 15px;
        color: #4579b0;
    }

    .block-primary{
        display: flex;

        .block-primary__hora{
            @include time;
        }
        .block-primary__textos{
            padding: 10px;

            .block-primary__textos--color{
                color: #4579b0;
                font-weight: bold;
                text-decoration: underline;
                display: block;
            }
        }

        
    }

    .block-secondary{
        display: flex;
        padding-top: 25px;

        .block-secondary__hora{
            @include time;
        }
        .block-secondary__textos{
            padding: 10px;

            .block-secondary__textos--color{
                color: #4579b0;
                font-weight: bold;
                text-decoration: underline;
                display: block;
            }
        }

        
    }

    .informacion-mañana{
        padding: 10px 0px;

        .informacion-mañana__item{
            display: block;
            margin-bottom: 15px;
            color: #4579b0;
        }

        .block-mañana{
            display: flex;

            .block-mañana__hora{
                @include time;
            }
            .block-mañana__textos{
                padding: 10px;

                .block-mañana__textos--color{
                    color: #4579b0;
                    font-weight: bold;
                    text-decoration: underline;
                    display: block;
                }
            }

            
        }

    }

    .desplegable{
        @include ver;


    }

    .notifications{
        @include notificaciones;
    }




    


    
}