@mixin cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4579b0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px 25px;

    .header-informacion__icon-right{
        color: #ffffff;
    }

    .header-content{
        display: flex;
        align-items: center;
        
        .header-content__icon-left{
            color: #ffffff;
        }
            
        .header-content__title{
            margin-left: 15px;
        }
    }
}

@mixin time{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #4579b0;
    border-radius: 50%;
    color: #ffffff;
}

@mixin tarjetas{
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 20px;
    padding: 0px 20px;

    .desplegable__icon{
        margin-left: 5px;
    }

}

@mixin ver{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #cdcdcd;
    color: color(ns-primary);
}

@mixin notificaciones{
    padding-top: 20px;
    .block-notificaciones{
        display: flex;
    }

    .block-notificaciones__text{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        width: 100%;
    }

    .block-notificaciones__icon{
        margin-left: 20px;
        font-size: 1.5rem;
        color: #a8b061;
    }

    .container-span{
        padding: 10px 0px;
        border-bottom: 1px solid #cdcdcd;
    }

    .container-span__icon{
        color: #ffc107;
    }
}
