////
/// BODY element
///
/// Here we got the body styles
////
body {
	position            		:	relative;
	font-family         		:	$ns-font-alternative;
	color               		:	color(ns-tertiary);
	background-image			: 	url("./../../assets/images/vista.jpg");
	background-repeat			: 	no-repeat;
	background-size: cover;
	background-color    		:	color(darken-light);
	-webkit-text-size-adjust	:	100%;
}