.cabecera__right{
    display: flex;
    align-items: center;

    .search{
        padding: 0px 10px;
    }

    .notifications{
        padding: 0px 10px;
    }

    .profile{
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0px 10px;

        .profile__img{
            width: 40px;
            border-radius: 50%;
            border: 1px solid #FFFFFF;
        }

        .arrow__icon{
            padding: 5px;
        }
    }
}