.cabecera__left{
    display: flex;
    align-items: center;
    padding: 0px 10px;

    .logo{
        margin: 0;
        padding: 0px 10px;

        .logo__img{
            width: 50%;
        }
    }
}