.cabecera{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    background-image: linear-gradient(to left, #859603, #207e8e 50%, #4579b0, #287d95 0%);
    i { font-size: 20px; color: #ffffff; }
}

